body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  width: 100%;
  height: 5%;
  background-color: rgb(148, 148, 148);
}

.page {
  position: absolute;
  width: 100%;
  height: 95%;
  background-color: rgb(43, 43, 43);
}

/* .sidebar {
  position: absolute;
  width: 20%;
  min-width: 300px;
  height: 100%;
  background-color: rgb(180, 180, 180);
} */

.sidebarCompact {
  position: fixed;
  right: calc(100% - 50px);
  height: 95%;
  width: 25%;
  min-width: 300px;
  transition: transform 0.5s ease-out;
  z-index: 50;
  display: inline-flex;
}

body.menu-visible .sidebarCompact {
  transform: translateX(calc(100% - 50px));
}


#sidebarButton {
  position: relative;
  /* left: calc(100% - 50px); */
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 20px 20px 0;
  background-color: rgb(180, 180, 180);
  z-index: 50;
  line-height: 10%;
  font-size: 50px;
}

#arrow {
  margin-top: 40px;
  margin-left: -2px;
  user-select: none;
}

.sidebar {
  position: relative;
  left: 0;
  height: 100%;
  width: calc(100% - 50px);

  background-color: rgb(180, 180, 180);
}

/* body.menu-visible .sidebar {
  transform: translateX(100%);
}

body.menu-visible #sidebarButton {
  left: max(20% , 300px );
} */

.us-map {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  transition: width 0.5s ease-out, left 0.5s ease-out;
}

body.menu-visible .us-map {
  width: 80%;
  left: max(20% , 300px );
}

.us-map path {
  fill: rgb(148, 148, 148);
  stroke: rgb(180, 180, 180);
}

.us-map circle {
  stroke-width: 1;
}

.us-map line {
  stroke-width: 0.5;
}

.autocomplete {
  /*the container must be positioned relative:*/
  padding: 10px;
  position: relative;
  display: inline-block;
  width: 80%;
}
#myInput {
  width: 100%;
  height: 25px;
  left: 30px;
}
.autocomplete-items {
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-item {
  padding: 5px;
  cursor: pointer;
  width: 99%;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
