body {
  margin: 0;
  background-color: rgb(43, 43, 43);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.us-map path {
  fill: #aaa;
  stroke: #fff;
}

.us-map circle {
  fill: rgb(38, 92, 184);
}

.us-map line {
  stroke: rgb(255, 255, 255);
  stroke-width: 0.5;
}
