body {
  margin: 0;
  background-color: rgb(43, 43, 43);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.us-map path {
  fill: rgb(148, 148, 148);
  stroke: rgb(180, 180, 180);
}

.us-map circle {
  stroke-width: 1;
}

.us-map line {
  stroke-width: 0.5;
}
